.checkout {
    display: flex;
    padding: 20px;
    background-color: #fff;
    height: max-content;
}

.checkout__ad {
    width: 100%;
    margin-bottom: 10px;
}

.checkout__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.checkout__list {
    display: flex;
    width: 400px;
    padding: 35px;
    margin-top: 2.5vh;
    align-items: center;
    justify-content: space-around;
}

.checkout__list_information {
    display: flex;
    flex-direction: column;
    margin-left: 2.5vw;
}

.checkout__list_information > p {
    font-weight: bold;
}

.checkout__list > img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.checkout__list_rating {
    display: flex;
}

.checkout__list_information > button {
    background-color: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}