.checkout {
    display: flex;
    padding: 20px;
    background-color: #fff;
    height: max-content;
}

.checkout__ad {
    width: 100%;
    margin-bottom: 10px;
}

.checkout__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.checkout__list {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 350px;
    background-color: #f3f3f3;
    padding: 35px;
    margin-top: 2.5vh;
    align-items: center;
    justify-content: space-around;
}

.checkout__list > img {
    width: 100%;
}